# Eclipse stuff
/.externalToolBuilders
/.settings
/.gitignore
.project
.classpath


/nbproject

/build.xml

/target

.*.sw[a-p]

# various other potential build files
/build
/bin
/dist
/manifest.mf

/world

# Mac filesystem dust
/.DS_Store